body {
  color: #666;
  background-color: #b0bec5;
}

header {
  height: 65px;
  background-color: #388e3c;
}

.logoheader {
  float: left;
  max-height: 57px;
  margin-top: -10px;
}

nav ul {
  float: right;
  margin-right: 30px;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
}
nav ul li a:hover {
  color: #212121;
}

nav p {
  float: left;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 30px;
  font-family: "Lobster", cursive;
  font-size: 20px;
}

.splash {
  width: 100%;
  height: 100vh;
  *background: url(../images/background.png) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b0bec5;
}

.splash h1 {
  color: #388e3c;
  font-family: Arial;
  font-weight: bold;
  font-size: 60px;
  display: inline-block;
}

.splash .container {
  height: 100%;
}
.splash .row {
  height: 90%;
}

#splashImage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#splashImage img {
  max-height: 400px;
}

.texto {
  padding-top: 30vh;
}

.btn-success {
  background-color: #388e3c;
}

/* HERRAMIENTAS!!! */

.centrado {
  text-align: center;
}

.espacios {
  padding-top: 100px;
  padding-bottom: 100px;
}

.espacios2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14) !important ;
}

.content {
  padding: 10px;
}

.card .btn {
  float: left;
  margin-left: 38%;
}

#letras {
  background: #f2f2f2;
}

.verde i {
  color: #388e3c;
}

.descripcion i {
  color: #388e3c;
}

.pintado {
  background-color: #999;
  padding: 2px;
  font-size: 30px;
  color: whitesmoke;
}

.frases i {
  font-size: 100px;
  color: #388e3c;
}

.frases h2 {
  padding: 30px;
}

.content h3 {
  text-align: center;
}

@media screen and (max-width: 720px) {
  #splashImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .texto h1 {
    display: block;
    text-align: center;
  }
}
